/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,rgb(10, 113, 223),rgb(9, 25, 131),rgb(5, 4, 46));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background: linear-gradient(to top,rgb(248, 197, 158),rgb(212, 133, 191),rgb(223, 173, 241));
    border: 1px solid rgb(7, 0, 39);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: white;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: rgb(5, 4, 46);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background: linear-gradient(to right,rgb(192, 192, 192),rgb(130, 145, 153));
}

.button-add {
    color: rgb(0, 0, 0);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background: linear-gradient(to right,rgb(134, 151, 160),rgb(207, 203, 203));
}

/* Listas */
ul {
    list-style-type: none;
    color:rgb(0, 0, 0) ;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: #463103
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right,rgb(25, 57, 201),rgb(129, 18, 240),rgb(141, 5, 153));
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background: linear-gradient(to right,rgb(22, 45, 248),rgb(19, 116, 172),rgb(77, 47, 247));
}
